@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #673AB7;
    --cor-secundaria: #7E57C2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

table.table {
    box-shadow: 0 0 10px 0 rgb(50 50 50 / 82% );
}
table.table>thead>tr th {
    background-color: #eee;
}

button.btn {
    min-width: 80px;
}

#loading{
    display: none;
}

.navbar-custom {
    background-color: #4dadf0;
}

.btn-primary {
    color: #eee;
    background-color: #3689c2;
    border-color: #3689c2;
}

#btn-adicionar:hover {
    background-color: #02719c;
    color: #eee;
}

#btn-salvar:hover {
    background-color: #02719c;
    color: #eee;
}  

#btn-cancelar:hover {
    background-color: #940501;
    color: #eee;
}

.btn-outline-primary {
    color: #222;
    background-color: transparent;
    background-image: none;
    border-color: #73b82a;
    margin-block: 5px;
}

.btn-outline-primary:hover {
    color: #eee;
    background-color: #5c9420;
    border-color: #5c9420;
}

.btn-outline-primary-disabled {
    color: #222;
    background-color: transparent;
    background-image: none;
    border-color: #d30d08;
    margin-block: 5px;
}

.btn-outline-primary-disabled:hover {
    color: #eee;
    background-color: #d30d08;
    border-color: #940501;
}


.nav-item{
    font-size: x-large ;
    height: auto;
    padding-inline: 40px;
  }

  .nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
  }

  .nav-link:hover {
    color: #d30d08;
  }